.App {
  font-family: 'Orbitron', sans-serif;
}
img {
  width: 500px;
  height: 350px
}
#game-list {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#game-name {
  margin: 0;
  margin-bottom: 50px;
  text-decoration: none;
}
#game-box {
  border-bottom: solid black 2px;
  margin-top: 30px;
}
footer {
  height: 50px;
  padding: 10px;
  background: rgba(0, 0, 0, .1);
  text-align: center;
  align-items: flex-end;
}
html {
  height: 100%;
  text-align: center;
}
